body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    not supported by any browser */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    /* margin: 1em 0; */
    /* margin-left: 40px; */
    /* padding-left: 0; */
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

body {
    font-size: 14px;
    line-height: 1.6;
    color: #333333;
    background: #fff;
    font-family: '\5FAE\8F6F\96C5\9ED1', Arial, 'Times New Roman', sans-serif;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

input, textarea {
    outline: none;
}

/*滚动条垂直方向的宽度*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* 垂直滚动条的滑动块 */

::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(188, 176, 241, 0.3);
    background-color: rgba(189, 183, 247, 0.281);
}

a {
    color: inherit;
    transition: all ease .2s;
    text-decoration: none;
}

a:focus {
    color: inherit;
    outline: none;
}

.hide {
    display: none;
}

.opacity_zero {
    opacity: 0;
}

.fix {
    *zoom: 1;
    *clear: both;
}

.fix:before, .fix:after {
    display: table;
    clear: both;
    content: '';
}

.oh {
    overflow: hidden;
    *zoom: 1;
}

.l {
    float: left;
}

.r {
    float: right;
}

.red {
    color: red;
}

.style_icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
}

.column_name {
    display: inline-block;
    line-height: 20px;
}

.num_icon {
    background: url(../images/num_icon.png);
}

.text_icon {
    background: url(../images/text_icon.png);
}

.data_icon {
    background: url(../images/data_icon.png);
}

.data_editor .data_editor_header {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    background-color: #293750;
    color: #90a0b3;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    z-index: 105;
}

.data_editor .data_editor_header .name {
    padding-left: 15px;
}

.data_editor .head_input_container {
    padding-left: 15px;
}

.data_editor .editor_left .massage_btn {
    padding: 15px 0 20px 0;
}

.data_editor .head_input {
    float: left;
    width: 186px;
    height: 40px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
    background-color: transparent;
    border: none;
    color: #a9c6d6;
}

.data_editor .block {
    display: block;
}

.data_editor .icon_btn_close {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/close_icon.png);
    background-size: 16px 16px;
    position: relative;
    top: 3px;
}

.data_editor .icon_btn_save {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/save_ord.png);
    background-size: 16px 16px;
    position: relative;
    top: 3px;
}

.data_editor .icon_btn_adv {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/adv_ord.png);
    background-size: 16px 16px;
    position: relative;
    top: 3px;
}

.data_editor .close_container {
    height: 16px;
    line-height: 16px;
    text-decoration: none;
    margin-left: 15px;
}

.data_editor .massage_btn .block {
    text-align: center;
    width: 85px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 13px;
    box-sizing: border-box;
    cursor: pointer;
}

.data_editor .massage_btn .menu_container {
    width: 44px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 13px;
    box-sizing: border-box;
    cursor: pointer;
}

.data_editor .menu_container .icon_btn_menu {
    display: inline-block;
    width: 18px;
    height: 16px;
    background: url(../images/menu.png);
    background-size: 18px 16px;
    position: relative;
    top: 3px;
}

.data_editor .massage_btn .block:hover {
    background: #4da9ff;
    color: #ffffff;
}

.data_editor .save_container:hover .icon_btn_save {
    background: url(../images/save_hover.png);
    background-size: 16px 16px;
}

.data_editor .adv_container:hover .icon_btn_adv {
    background: url(../images/adv_hover.png);
    background-size: 16px 16px;
}

.data_editor .editor_left {
    position: fixed;
    top: 40px;
    bottom: 0;
    right: 0;
    padding-top: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 214px;
    z-index: 104;
    background: #44546e;
    /* box-shadow: 0 0 10px #e1e0e0; */
    font-size: 12px;
    color: #a9c6d6;
}

.data_editor .editor_left #tableList {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding-bottom: 80px;
}

.data_editor .editor_left .full {
    width: 100%;
    height: 100%;
    display: block;
}

.data_editor .editor_right {
    position: fixed;
    z-index: 103;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 214px;
    background: #fff;
}

.data_editor .dialog {
    position: fixed;
    z-index: 120;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(98, 98, 100, 0.8);
}

.data_editor .dialog_content .list {
    padding-left: 15px;
    padding-right: 15px;
}

.data_editor .dialog_content .list select {
    height: 24px;
    line-height: 24px;
    margin-right: 4px;
    border: 1px solid #E4E7ED;
    border-radius: 4px;
    color: #606266;
}

.data_editor .dialog_content .list select.left, .data_editor .dialog_content .list select.right {
    width: 120px;
}

.data_editor .dialog_content .list select.op {
    width: 56px;
}

#viewRefRelEditor .dialog_content .list li {
    padding-left: 0;
}

.data_editor .dialog_content {
    position: relative;
    margin: 100px auto;
    width: 360px;
    max-height: 430px;
    background: #fff;
    position: relative;
}

.data_editor #advViewShow .dialog_content {
    width: auto;
    height: auto;
    margin: 0;
    left: 15px;
    top: 15px;
    right: 230px;
    bottom: 15px;
    position: fixed;
}

.data_editor .dialog_content .left ul {
    margin-left: 15px;
    /* padding-right: 15px; */
    height: 295px;
    overflow-y: auto;
    background-color: rgba(245, 247, 250, 1);
}

.data_editor .dialog_content li {
    padding-left: 15px;
    list-style: none;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
}

.data_editor .dialog_content li .check {
    margin-right: 7px;
    vertical-align: middle;
}

.data_editor .dialog_content li.on {
    background: #eee;
}

.data_editor .dialog_content li .text {
    opacity: .3;
}

.data_editor .dialog_content li .text.on {
    opacity: 1;
}

.data_editor .dialog_content .dialog_close {
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    background: url(../images/close_icon.png);
    background-size: 14px 14px;
    top: 18px;
    right: 15px;
}

.data_editor .dialog_content .title {
    padding: 15px 15px 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    color: #606266;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data_editor .dialog_content .addItem {
    padding: 15px 15px 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    color: #1989fa;
}

.data_editor .dialog_content .dialog-button {
    clear: both;
    overflow: hidden;
    padding: 10px 15px 15px;
    text-align: right;
}

.data_editor .dialog_content .dialog-button a {
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #d8dce5;
    color: #5a5e66;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    padding: 0;
    width: 64px;
    height: 32px;
    line-height: 30px;
    border-radius: 4px;
    font-size: 12px;
    float: right;
}

.data_editor .dialog_content .dialog-button a:hover {
    opacity: 0.9;
}

.data_editor .dialog_content .dialog-button .confirm {
    border: 1px solid #a3d0fd;
    background-color: #e6f1fc;
    margin-left: 10px;
    color: #1989fa;
}

.data_editor .dialog_content .dialog-button .delete {
    border: 1px solid #fdbbbb;
    background-color: #ffeced;
    margin-left: 10px;
    color: #f56c6c;
}

.data_editor .dialog_content .dialog-button .cancal {
    border: 1px solid #dcdfe6;
    background-color: #fff;
    color: #606266;
}

.data_editor .editor_left .icon_btn {
    width: 13px;
    height: 13px;
    margin-right: 8px;
    margin-top: 3px;
}

.data_editor .editor_left .editor_left_title {
    font-size: 14px;
    color: #a9c6d6;
    padding-left: 15px;
}

.data_editor .editor_left li {
    height: 52px;
    padding: 6px 0 6px 15px;
    line-height: 20px;
    cursor: pointer
}

.data_editor .editor_left li:nth-child(2n+1) {
    background-color: #364660;
}

.data_editor .editor_left li:hover, .data_editor .editor_left li.active {
    opacity: 0.8;
}

.data_editor .editor_left li:hover .add_icon {
    display: block;
}

.data_editor .editor_left li:hover .modify_icon {
    display: block;
    margin-top: -7px;
}

.data_editor .editor_left li .add_icon {
    margin-top: -7px;
}

.data_editor .editor_left li a {
    text-decoration: none
}

.data_editor .editor_left .modify_icon {
    background: url(../images/modify_icon.png)
}

.data_editor .editor_left .scale_icon {
    background: url(../images/scale_icon.png)
}

.data_editor .editor_left .refresh_icon {
    background: url(../images/refresh_icon.png)
}

.data_editor .editor_left .add_icon {
    background: url(../images/add_icon.png)
}

.data_editor .editor_left .search_icon {
    background: url(../images/search_icon.png);
    background-size: 110% 110%;
}

#viewRefEditor .left {
    width: 165px;
}

#viewRefEditor .right {
    width: 195px;
    padding: 0 15px 0;
    height: 325px;
    overflow-y: auto;
}

#viewRefEditor .name {
    display: inline-block;
    width: 95px;
    font-size: 13px;
}

#viewRefEditor .right .values {
    width: 135px;
    display: inline-block;
    vertical-align: 2px;
}

#viewRefEditor .right .full .min {
    width: 135px;
}

#viewRefEditor .right .min {
    width: 60px;
    height: 24px;
    padding-left: 4px;
    vertical-align: middle;
    float: left;
}

#viewRefEditor .right input, #viewRefEditor .right select {
    border: 1px solid #E4E7ED;
    border-radius: 4px;
}

#viewRefEditor .right .max {
    width: 60px;
    height: 24px;
    padding-left: 4px;
    float: right;
}

#viewRefEditor .right .orders_inner {
    opacity: 0.3;
    padding-top: 5px;
}

#viewRefEditor .right .orders_inner.on {
    opacity: 1;
}

#viewRefEditor .right .filters_inner.on {
    opacity: 1;
}

#viewRefEditor .right .filters_inner {
    opacity: 0.3;
}

#viewRefEditor .right .dese {
    margin-left: 20px;
}

#viewRefEditor .right .use {
    line-height: 30px;
}

#viewRefEditor .right .use .checkUse {
    vertical-align: -1px;
    margin-right: 7px;
}

#viewRefEditor .right .use .text {
    height: 24px;
    padding-left: 4px;
    width: 135px;
}

#viewRefEditor .right .filters {
    margin-top: 10px;
}

#viewRefEditor .right .orders {
    margin-top: 10px;
}

#viewRefEditor .right .orders .checkOrders {
    margin-right: 7px;
}

#viewRefEditor .right .orders .orders_inner input {
    vertical-align: -1px;
}

#viewRefEditor .right .orders .orders_inner label {
    margin-left: 4px;
}

#viewRefEditor .right .filters .checkFilters {
    margin-right: 7px;
}

#viewRefEditor .right .filters .filters_inner {
    margin-top: 5px;
}

#viewRefEditor .right .filters .filters_inner .add {
    height: 24px;
    padding-left: 4px;
    width: 135px;
}

#viewRefEditor .right .filters .filters_inner select {
    height: 24px;
    line-height: 24px;
    margin-bottom: 5px;
    width: 135px;
}

#viewRefEditor .right .in .tip {
    position: relative;
    display: inline-block;
    padding: 10px;
    line-height: 1;
    margin-right: 10px;
}

#viewRefEditor .right .in .tip span {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
}

#viewRefEditor .right .in .tip:hover span {
    display: block;
}

#viewRefEditor .right .in_inner div {
    display: inline-block;
}

#viewRefEditor .right .in_inner .in_add {
    width: 43px;
    height: 26px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #409EFF;
    font-size: 12px;
    color: #fff;
    vertical-align: -1px;
    cursor: pointer;
}

#viewRefEditor .right .help {
    font-size: 12px;
    color: #E6A23C;
    padding-right: 28px;
}

#tableView {
    width: 100%;
    height: 85%;
    padding: 20px 15px 30px 15px;
    overflow: auto;
}

#tableView td {
    padding: 2px 5px 2px 5px;
    font-size: 13px;
}

#tableView thead td {
    font-weight: bold
}

#tableView td {
    text-align: center
}

.refDel {
    color: #f56c6c;
    margin-left: 5px;
    cursor: pointer;
}

#viewNameLog input {
    border: 1px solid #E4E7ED;
    border-radius: 4px;
    color: #606266;
    margin: 0 15px;
    height: 24px;
    padding: 0 10px;
}

.search_box {
    float: right;
    position: relative;
    height: 100%;
}

.search_box:hover input {
    width: 160px;
    padding: 0 16px 0 5px;
}

.search_box:hover .el-icon-search {
    color: #333333;
}
.search_box.hover input {
    width: 160px;
    padding: 0 16px 0 5px;
}

.search_box.hover .el-icon-search {
    color: #333333;
}
.search_box .el-icon-search {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
    z-index: 5;
    color: #c9cdd5;
}

.search_box .search_input {
    height: 32px;
    position: absolute;
    right: 0;
    top: 0;
    height: 24px;
    margin-top: -3px;
    width: 0;
    border: none;
    outline: none;
    border-radius: 3px;
    transition: all .3s ease;
    z-index: 4;
    padding: 0;
}

.loading {
    display: block !important;
    text-align: center;
    margin: 20px auto;
}

.dialog {
    border: solid 1px #333
}

.error {
    background-color: #ff2200
}

/* select2 hack */

#viewRefEditor .select2-container {
    margin-bottom: 6px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #E4E7ED;
    border-radius: 4px;
    height: 24px;
    line-height: 24px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 24px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 24px;
}
.radio{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid #D5D8DE;
}
.radio.on{
    border: 5px solid #1989FA;
}
.radio input{
    display: none;
}
.checkbox{
    color: #666666;
}
.checkbox.on{
    color: #409EFF;
}
.checkbox input{
    display: none;
}
.el-alert{
    display: none;
    z-index: 2064;
    min-width: 380px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #e1f3d8;
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    transition: opacity .3s,transform .4s;
    overflow: hidden;
    padding: 15px 15px 15px 20px;
    align-items: center;
    background-color: #f0f9eb;
    color: #67c23a;
}
.el-alert i{
    width: 20px;
    height:18px;
    display: inline-block;
    margin-right: 5px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASCAIAAADUsmlHAAAB6ElEQVQ4EZ2TSywDURSGO6PTVmu0TOItKI1HiEcsiVixsZBg47GwF1bESqwtRGysbESkJFgKFl6JlVdCpEG9ihStoR6dTk39zZVbWkR6F3f+c8//zbnn3hlGlO5U0Q51JGgTt1dv5q5f7V7/C7I6tSFNb65Jbcw3VYSZma+VPfLD9MnI0eNuQBUI96kYi7GsJbeb5xJoKgQ/SLfjtsHbNwfNRYqk2IzO/IEEbRJJseQhK9KMffQPklExgi5FlO5hg/kbvOfaOH8+jCxFVjhWU5veVC7U+AMybDCHwet+Rf4RNnDGNkufLkaPU1QC77DtudZD8JPP7ZacP5LxmsQOS7/v3bvssMqKj3hgBgId7PlZFl/9Hgg0ls0X1WW2aWNiEcZxpta8XqNGWLqa8ilerJABMxDob/eMG2IZtiq5IU2fs3A5UZ/ZnsUXWE+GfzvIYGVU0Kt58tbTp4PJ4yEzX9xTMlJgqkR7++5NkqIzzEAQBmE0lqhNJjkUt4lb82djENjeyvUsbZXCMANB+LntUqHa7tknBw5s+34FuVSD2fl2QRki1CwHM9HByhilQlVWXCHRmMHvuNYWHZO4G7pIBGwwE/0Jc6y22dyFr49ageGGaEgEDLDBTMLQt404+h+DFonyl6T8P8UHDJPqYQRH0wAAAAAASUVORK5CYII=);
}
.data_editor .massage_btn .menu_container:hover .menus{
    display: block;
}
.menus{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 130px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    text-align-last: left;
    line-height: 19px;
}
.menus .menu_item:hover{
    color: #4da9ff;
}
.share_user{
    width: 330px;
    margin-left: 15px;
    height:29px;
    line-height: 29px;
    border: 1px solid #DCDFE6;
    border-radius: 4px; 
    color: #303133;
}
