html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
#dashboard .el-dialog__body {
  overflow-y: auto;
}
#dashboard .dashboard_left {
  position: fixed;
  top: 50px;
  bottom: 0;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
  width: 180px;
  z-index: 103;
  background: #44546e;
}
#dashboard .dashboard_left .dirTreeTitle {
  color: #a9c6d6;
  padding-left: 16px;
  line-height: 45px;
  height: 45px;
  font-size: 14px;
}
#dashboard .dashboard_left .dirTreeTitle .el-icon-more,
#dashboard .dashboard_left .dirTreeTitle .el-icon-plus {
  margin-top: 16px;
  margin-right: 5px;
  cursor: pointer;
  color: #c9cdd5;
}
#dashboard .dashboard_left .dirTreeTitle .el-icon-search {
  color: #c9cdd5;
  cursor: pointer;
}
#dashboard .dashboard_left .dirTreeTitle .search_box {
  margin-right: 5px;
}
#dashboard .dashboard_left .dirTreeTitle .search_box:hover input {
  width: 120px;
}
#dashboard .dashboard_left .el-tree-node__content:hover {
  background-color: #fff;
}
#dashboard .dashboard_left .el-tree-node__content {
  background-color: #f8f8f9;
}
#dashboard .dashboard_left .el-card {
  font-size: 12px;
}
#dashboard .dashboard_left .el-card .colums_item {
  line-height: 32px;
}
#dashboard .dashboard_left .dirChildren {
  color: #fff;
  width: 100%;
  height: 32px;
  line-height: 32px;
  padding-left: 20px;
  cursor: pointer;
  font-size: 12px;
  position: relative;
}
#dashboard .dashboard_left .dirChildren .childrenText {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}
#dashboard .dashboard_left .dirChildren .el-icon-more {
  display: none;
  position: relative;
  top: 0px;
  padding: 3px;
}
#dashboard .dashboard_left .dirChildren:hover .el-icon-more {
  display: inline-block;
}
#dashboard .dashboard_left .dirChildren.hover .cover {
  display: block;
}
#dashboard .dashboard_left .dirChildren .cover {
  display: none;
  width: 50px;
  background-color: #ffffff;
  position: absolute;
  right: 25px;
  top: 25px;
  text-align: center;
  z-index: 10;
  cursor: default;
}
#dashboard .dashboard_left .dirChildren .cover .cover_item {
  line-height: 24px;
  margin: 5px 0;
  cursor: pointer;
  color: #68b6ff;
}
#dashboard .dashboard_left .dirChildren.cur {
  background-color: #364660;
  color: #68b6ff;
}
#dashboard .dashboard_left .dirText {
  font-size: 12px;
  display: block;
  line-height: 32px;
  height: 32px;
  width: 100%;
}
#dashboard .dashboard_left a {
  color: #888;
  text-decoration: none;
}
#dashboard .dashboard_main {
  background-color: #f1f5f8;
  position: fixed;
  top: 50px;
  left: 180px;
  bottom: 0;
  right: 0;
  z-index: 101;
}
#dashboard .dashboard_main #dash {
  margin-top: 50px;
}
#dashboard .dashboard_main .grid-content {
  position: relative;
  overflow-x: auto;
  min-width: 450px;
  z-index: 102;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}
#dashboard .dashboard_main .grid-content .el-card__body {
  overflow-x: auto;
  overflow-y: auto;
}
#dashboard .top.common_top {
  position: fixed;
  top: 50px;
  left: 180px;
  right: 0;
  z-index: 15;
}
#dashboard .top .name {
  font-size: 12px;
  padding-left: 15px;
}
#dashboard .top .add_chart:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background: url(../../images/add_charts.png) no-repeat center;
  background-size: cover;
  margin-top: -2px;
}
#dashboard .top .edit_switch:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background: url(../../images/edit.png) no-repeat center;
  background-size: cover;
  margin-top: -2px;
}
#dashboard .top .preview {
  margin-right: 13px;
}
#dashboard .top .preview:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background: url(../../images/preview.png) no-repeat center;
  background-size: cover;
  margin-top: -2px;
}
#dashboard .grid-stack-item {
  box-sizing: border-box;
  padding: 0;
}
#dashboard .grid-stack-item.no_padding ._wrap {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#dashboard .grid-stack-item ._wrap {
  border: 1px solid #e8ebed;
  background-color: #ffffff;
  position: absolute;
  left: 8px;
  right: 8px;
  top: 8px;
  bottom: 8px;
  padding: 30px 10px 10px;
  transition: box-shadow 0.3s ease-in-out;
  overflow: hidden;
}
#dashboard .grid-stack-item ._wrap:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 16px 24px 0 rgba(170, 182, 206, 0.36);
}
#dashboard .grid-stack-item ._wrap:hover .edit_bar {
  display: block;
}
#dashboard .grid-stack-item ._wrap .edit_bar {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}
#dashboard .grid-stack-item ._wrap .edit_bar .edit_bar_btn {
  margin-right: 10px;
  color: #999999;
  cursor: pointer;
}
#dashboard .grid-stack-item .chart_tit {
  position: absolute;
  left: 20px;
  top: 10px;
  z-index: 10;
  font-size: 14px;
  font-family: '微软雅黑', sans-serif;
  height: 20px;
  line-height: 20px;
}
#dashboard .grid-stack > .grid-stack-item > .ui-resizable-se {
  right: 7px;
  bottom: 7px;
  background: url(../../images/handel.png) center no-repeat;
  background-size: cover;
  transform: rotate(0);
}
#dashboard .grid-stack {
  border: 2px dashed transparent;
  margin-top: 8px;
  margin-left: 8px;
}
#dashboard.dashboard_viewer .grid-stack {
  border-color: #e8ebed;
  border-color: transparent;
}
#dashboard .editing .grid-stack {
  border: 2px dashed #e8ebed;
}
#dashboard .editing .edit_bar {
  display: none!important;
}
#dashboard .searchColumns {
  width: 100%;
  background: url("../../images/search_icon.png") no-repeat scroll 50% center;
  border: none;
  border-bottom: 1px solid #8ea7e4;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  /* Firefox 4 */
  -o-transition: all 0.2s;
  padding-left: 55%;
  margin-bottom: 20px;
  padding-bottom: 3px;
}
#dashboard .searchColumns:focus {
  padding-left: 30px;
  outline: none;
  background-position: 8px 0;
  border: none;
  border-bottom: 2px solid #5182E4;
  animation: all 0.5s infinite;
  margin-bottom: 19px;
}
#dashboard .colums_list li {
  font-size: 12px;
  position: relative;
  padding-left: 30px;
}
#dashboard .colums_list li:before {
  content: '';
  position: absolute;
  left: 9px;
  top: 50%;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
#dashboard .colums_list li.active:before {
  border: 2px solid #5182E4;
  width: 9px;
  height: 9px;
}
#dashboard .new_built {
  text-decoration: none;
  color: #333333;
}
#dashboard .new_built .el-icon-plus {
  color: #5182e4;
}
#dashboard .new_built:hover {
  color: #5182e4;
}
#dashboard .chart_table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}
#dashboard .chart_table tr {
  color: #5a5e66;
}
#dashboard .chart_table thead {
  color: #878d99;
}
#dashboard .chart_table td {
  padding: 10px;
  border: 1px solid #e6ebf5;
}
#dashboard .table_container {
  overflow: auto;
}
.dialog_content {
  background-color: #f5f7fa;
  overflow-y: auto;
}
.chart_add_dialog .dialog_content {
  max-height: 260px;
}
.chart_add_dialog .add_new {
  display: block;
  height: 20px;
  line-height: 20px;
}
.chart_add_dialog .tit {
  font-size: 12px;
  color: #333333;
  margin-top: 10px;
  position: relative;
}
.chart_add_dialog .tit .search_box {
  height: 30px;
  width: 30px;
}
.chart_add_dialog .tit .search_box:hover input {
  border: 1px solid #ccc;
}
.chart_add_dialog .tit .search_box .el-icon-search {
  right: 3px;
}
.ovh {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*# sourceMappingURL=./dashboard.css.map */