@import url("../../est/src/all.less");

.global-reset();
#dashboard {
    .el-dialog__body{
        overflow-y: auto;
    }
    .dashboard_left {
        position: fixed;
        top: 50px;
        bottom: 0;
        float: left;
        overflow-x: hidden;
        overflow-y: auto;
        width: 180px;
        z-index: 103;
        background: #44546e;
        
        .el-tree-node__content:hover {
            background-color: #fff
        }
        .el-tree-node__content {
            background-color: #f8f8f9;
        }
        .el-card {
            font-size: 12px;
            .colums_item {
                //height: 32px;
                line-height: 32px;
            }
        }
        .dirChildren {
            color: #fff;            
            width: 100%;
            height: 32px;
            line-height: 32px;
            padding-left: 20px;
            cursor: pointer;
            font-size: 12px;
            position: relative;
            .childrenText {
                width: 80%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                float: left;
            }
            .el-icon-more {
                // opacity: 0;
                display: none;
                position: relative;
                top: 0px;
                padding: 3px;
            }
            &:hover {
                .el-icon-more {
                    // opacity: 1;
                    display: inline-block;
                }
            }
            &.hover{
                .cover{
                    display: block;
                }
            }
            .cover{
                display: none;
                width: 50px;
                background-color: #ffffff;
                position: absolute;
                right: 25px;
                top: 25px;
                text-align: center;
                z-index: 10;
                cursor: default;
                .cover_item{
                    line-height: 24px;
                    margin: 5px 0;
                    cursor: pointer;
                    color: #68b6ff;
                }
            }
            &.cur{
                background-color: #364660;
                color: #68b6ff;
            }
        }
        .dirText {
            font-size: 12px;
            display: block;
            line-height: 32px;
            height: 32px;
            width: 100%;
        }
        a {
            color: #888;
            text-decoration: none;
        }
    }
    .dashboard_main {
        background-color: #f1f5f8;
        position: fixed;
        top: 50px;
        left: 180px;
        bottom: 0;
        right: 0;
        z-index: 101;
        .dash_wrap{
            overflow: hidden;
            padding-bottom: 80px;
        }
        .grid-content {
            position: relative;
            overflow-x: auto;
            min-width: 450px; //height: calc(100% - 64px);
            z-index: 102;
            padding: 40px 0 0;
            height: 100%;
            overflow-y: auto;
            .el-card__body {
                overflow-x: auto;
                overflow-y: auto;
            }
        }
        .edit_box{
            display: none;
            height: 72px;
            margin: 8px 0 0 8px;
            padding: 10px 15px;
            color: #5e6d82;
            background-color: #ffffff;
            &.active{
                display: block;
            }
            ._top{
                font-size: 12px;
                height: 20px;
                line-height: 20px;
                .el-radio{
                    margin-left: 20px;
                }
                .el-radio+.el-radio{
                    margin-left: 10px;
                }
                ._save{
                    background: none;
                    border: none;
                    float: right;
                    font-size: 14px;
                    color: #5e6d82;
                    cursor: pointer;
                    i{
                        margin-right: 3px;
                    }
                }
            }
            ._items{
                font-size: 14px;
                margin-top: 5px;
                height: 30px;
                line-height: 30px;
                .el-color-picker{
                    vertical-align: middle;
                    margin-top: 2px;
                    .el-color-picker__trigger{
                        .size(22px);
                        line-height: 22px;
                    }
                }
            }
        }
    }
    .top {
        &.common_top{
            position: fixed;
            top: 50px;
            left: 180px;
            right: 0;
            z-index: 15;
        }
        .name{
            font-size: 12px;
            padding-left: 15px;
        }
        .add_chart{
            &:before{
                content:'';
                vertical-align: middle;
                display: inline-block;
                .size(16px);
                margin-right: 10px;
                background: url(../../images/add_charts.png) no-repeat center;
                background-size: cover;
                margin-top: -2px;
            }
        }
        .edit_switch{
            &:before{
                content:'';
                vertical-align: middle;
                display: inline-block;
                .size(16px);
                margin-right: 10px;
                background: url(../../images/edit.png) no-repeat center;
                background-size: cover;
                margin-top: -2px;
            }
        }
        .preview{
            margin-right: 13px;
            &:before{
                content:'';
                vertical-align: middle;
                display: inline-block;
                .size(16px);
                margin-right: 10px;
                background: url(../../images/preview.png) no-repeat center;
                background-size: cover;
                margin-top: -2px;
            }
        }
        
    }
    .grid-stack-item {
        // background-color: #ffffff;
        box-sizing: border-box;
        padding: 0;
        &.no_padding ._wrap {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        ._wrap {
            border: 1px solid #e8ebed;    
            background-color: #ffffff;
            position: absolute;
            left: 8px;
            right: 8px;
            top: 8px;
            bottom: 8px;
            padding: 30px 10px 10px;
            transition: box-shadow .3s ease-in-out;
            overflow: hidden;
            &:hover{
                box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 16px 24px 0 rgba(170,182,206,.36);            
                .edit_bar {
                    display: block;
                }                
            }
            .edit_bar {
                display: none;
                .absolute(10px,10px,_,_);
                z-index: 10;
                .edit_bar_btn{
                    margin-right: 10px;
                    color: #999999;
                    cursor: pointer;
                }
            }
            
        }
        .chart_tit{
            position: absolute;
            left: 20px;
            top:10px;
            z-index: 10;
            font-size: 14px;
            font-family: '微软雅黑',sans-serif;
            height: 20px;
            line-height: 20px;
        }
    }
    .grid-stack>.grid-stack-item>.ui-resizable-se {
        right: 7px;
        bottom: 7px;
        background: url(../../images/handel.png) center no-repeat;
        background-size: cover;
        transform: rotate(0);
    }
    .grid-stack{
        border: 2px dashed transparent;
        margin-top: 8px;
        margin-left: 8px;
    }
    &.dashboard_viewer{
        .grid-stack{
            border-color: #e8ebed;
            border-color: transparent;
        }
    }
    .editing{
        .grid-stack{
            border: 2px dashed #e8ebed;
        }
        .edit_bar{
            display: none!important;
        }
    }
    // 弹窗
    .searchColumns {
        width: 100%;
        background: url("../../images/search_icon.png") no-repeat scroll 50% center;
        border: none;
        border-bottom: 1px solid #8ea7e4; //animation: all 0.5s infinite;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        /* Firefox 4 */
        -o-transition: all 0.2s;
        padding-left: 55%;
        margin-bottom: 20px;
        padding-bottom: 3px;
        &:focus {
            padding-left: 30px;
            outline: none;
            background-position: 8px 0;
            border: none;
            border-bottom: 2px solid #5182E4;
            animation: all 0.5s infinite;
            margin-bottom: 19px;
        }
    }
    .colums_list{
        li{
            font-size: 12px;
            position: relative;
            padding-left: 30px;
            &:before{
                content:'';
                position: absolute;
                left: 9px;
                top: 50%;
                .size(10px);
                margin-top: -5px;
                border-radius: 50%;
                border: 1px solid #ccc;

            }
            &.active:before{
                border: 2px solid #5182E4;
                .size(9px);
            }
        }
        
    }
    .new_built{
        text-decoration: none;
        color: #333333;
        .el-icon-plus{
            color: #5182e4;
        }
        &:hover{
            color: #5182e4;            
        }
    }
    
    .chart_table{
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
        tr{
            color: #5a5e66;
        }
        thead{
            color: #878d99;
        }
        td{
            padding: 10px;
            border: 1px solid #e6ebf5;            
        }
    }
    .table_container{
        overflow: auto;
    }
}
.dialog_content{
    background-color: #f5f7fa;
    overflow-y: auto;
}
.chart_add_dialog{
    .dialog_content{
        max-height: 260px;
    }
    .add_new{
        display: block;
        height: 20px;
        line-height: 20px;
    }
    .tit{
        font-size: 12px;
        color: #333333;
        margin-top: 10px;
        position: relative;
        .search_box{
            height: 30px;
            width: 30px;
            &:hover input{
                border: 1px solid #ccc;
            }
            .el-icon-search{
                right: 3px;
            }
        }
    }
    .el-tree-node__content:hover{
        background-color: #eef1f6;
    }
    .el-tree-node.is-current .el-tree-node__content{
        background-color: #eef1f6;
    }
}
.ovh{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

// 公用左侧头部
.dirTreeTitle {
    color: #a9c6d6;
    padding-left: 16px;
    line-height: 45px;
    height: 45px;
    font-size: 14px;
    .el-icon-more, .el-icon-plus {
        margin-top: 16px;
        margin-right: 5px;
        cursor: pointer;
        color: #c9cdd5;
    }
    .el-icon-search{
        color: #c9cdd5;
        cursor: pointer;
    }
    .search_box{
        margin-right: 5px;
        &:hover{
            input{
                width: 120px;
            }
        }
    }
}
