// out:false 
// 数据源
#database{
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f0f2f3;
    .database_left{
        float: left;
        width: 180px;
        background-color: #44546e;
        color: #ffffff;
    }
    .database_list{
        li{
            padding-left: 20px;
            .centered-line(32px);
            position: relative;
            color: #fff;
            font-size: 12px;
            .database_name{
                width: 120px;
                float: left;
                cursor: pointer;
            }
            .el-icon-more {
                display: none;
                padding: 3px;
                vertical-align: middle;
            }
            &:hover {
                .el-icon-more {
                    display: inline-block;
                }
            }
            &.hover{
                .cover{
                    display: block;
                }
            }
            .cover{
                display: none;
                width: 50px;
                background-color: #ffffff;
                position: absolute;
                right: 10px;
                top: 25px;
                text-align: center;
                z-index: 10;
                cursor: default;
                a{
                    color: #888888;
                    display: block;
                    line-height: 24px;
                    margin: 5px 0;
                    cursor: pointer;
                    text-decoration: none;
                    &:hover{
                        color: @c-main;
                    }
                }
            }
            &.active{
                background-color: #364660;
                color: #68b6ff;
            }
        }
    }
    .database_right{
        margin-left: 180px;
        height: 100%;
        position: relative;
        .database_save{
            width: 85px;
            float: right;
            &:before{
                content:'';
                display: inline-block;
                position: relative;
                top: 3px;
                width: 16px;
                height: 16px;
                background: url(../../images/save_ord.png) center no-repeat;
                background-size: contain;
                margin-right: 10px;
            }
            &:hover:before{
                background: url(../../images/save_hover.png) center no-repeat;
                background-size: contain;
            }
        }
        .menu{
            width: 60px;
            position: relative;
            float: right;
            &:before{
                content:'';
                display: inline-block;
                width: 18px;
                height: 16px;
                position: relative;
                top: 3px;
                background: url(../../images/menu.png) center no-repeat;
                background-size: contain;
            }

        }
    }
    .database_main{
        background-color: #ffffff;
        position: absolute;
        top: 48px;
        left: 8px;
        right: 8px;
        bottom: 8px;
        overflow: auto;
        padding: 10px;
        table{
            color: #606266;
            font-size: 14px;
            th,td{
                min-width: 200px;
                line-height: 48px;
                border-bottom: 1px solid #EBEEF5;
                padding-left: 5px;
            }
            tbody tr:hover,th:hover,th.active{
                background-color: #F5F7FA;
            }
            tr>span{
                display: table-cell;
            }
            th{
                i{
                    vertical-align: middle;
                }
                .edit{
                    display: none;
                }
                &:hover .edit{
                    display: inline-block;
                }
            }
            .bdfont{
                font-size: 16px;
                color: #1989fa;
            }
        }
    }
}
// 添加数据源
#addDataList{
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 30px;
    background-color: #f0f2f3;
    overflow-y: auto;
    *[class*="rect-"]{
        position: relative;
        display: block; 
        width: 100%;
        height: 0;
        overflow: hidden;
        ._full{
            position: absolute;
            left: 0;
            top:0;
            width: 100%;
            height: 100%;
            *height: auto;
        }
    }
    .input_wrap{
        width: 70%;
        margin: 0 auto 30px;
    }
    .rect-100{padding-bottom: 100%;}
    .database_item{
        background-color: #ffffff;
        text-align: center;
        img{
            display: block;
            width: 80%;
            margin: 15px auto;
        }
        ._full{
            display: none;
            background:rgba(255,255,255,.95) url(../../images/hover_add.png) center no-repeat ;
        }
        &:hover ._full{
            display: block;
        }
    }
    li {
        line-height: 26px;
    }
}
#datebaseAdd .upload_dialog{
    .el-dialog{
        width: 360px;
    }
    .el-dialog__header,.el-dialog__footer,.el-upload--text,.upload_tip,.info,.download_wrap{
        user-select: none;
    }
    .upload-demo{
        .el-button--small{
            width: 85px;
            border: 1px solid #a3d0fd;
            background-color: #e6f1fc;
            color: #1989fa;
        }
    }
    .el-upload__tip{
        margin-top: 14px;
        .info{
            color: #e6a23c;
            word-break: break-all;
            font-size: 12px;
            line-height: 17px;
        }
    }
    .upload_tip{
        color: #606266;
        font-size: 12px;
        margin-left: 12px;
        b{
            font-weight: normal;
            color: #1989fa;
        }
    }
    .temp{
        background-color: #f5f7fa;
        margin-bottom: 16px;
        table{
            width: 100%;
        }
        th,td{
            color: #909399;
            font-size: 14px;
            border-bottom: 1px solid #A3D0FD;
            height: 34px;
            line-height: 34px;
            padding-left: 10px;
            width: 31%;
        }
        th:last-child,td:last-child{
            width: 38%;
        }
    }
    .download_wrap{
        height: 52px;
        line-height: 60px;
        text-align: center;
        a{
            color: #1989fa;
            font-size: 12px;
        }

    }
}
.el-popover{
    padding: 10px;
}
.pop_content{
    .pop_item{
        height: 40px;
        font-style: 0;
        label{
            font-size: 14px;
            float: left;
            line-height: 29px;
            width: 43px;
        }
    }
    .pop_type{
        a{
            float: left;
            width:65px;
            height:29px; 
            line-height: 27px;
            text-align: center;
            background:rgba(255,255,255,1);
            border-radius: 4px ; 
            border: 1px solid #DCDFE6;
            color: #303133;
            margin-right: 10px;
            &.active{
                background-color: #1989fa;
                border-color: #1989fa;
                color: #ffffff;
            }
            &:last-child{
                margin-right: 0;
            }
            i{
                font-size: 12px;
            }
        }
    }
    .pop_name{
        input{
            float: left;
            width: 213px;
            height:29px;
            line-height: 29px;
            border: 1px solid #DCDFE6;
            border-radius: 4px; 
            color: #303133;
        }
    }
    .btn_group{
        text-align: right;
        margin-top: 3px;
        button{
            width: 65px;
            border-radius: 28px;
        }
    }
}

.shareInput{
    width: 100%;
    height:29px;
    line-height: 29px;
    border: 1px solid #DCDFE6;
    border-radius: 4px; 
    color: #303133;
}
.share_dialog .el-dialog{
    width: 360px;
}
.menu_popover{
    .menu_item{
        cursor: pointer;
    }
    .menu_item:hover{
        color: #4da9ff;
    }
}
